.title {
  padding-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: black;
}

.content {
  margin: auto;
  margin-top: 40px;
  width: 85%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}


