.title-container {
  padding-top: 150px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  color: black;
}

.content-container {
  margin: auto;
  margin-top: 40px;
  width: 85%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.result-container {
  text-align: center;
  font-weight: 600;
  font-size: 4em;
  letter-spacing: 0.15rem;
  padding: 20px 0 0;
}


