aniso8601==8.0.0
attrs==20.1.0
Click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.8
flask-restplus==0.13.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
numpy==1.19.1
pandas==1.1.1
pyrsistent==0.16.0
scikit-learn==0.23.2
scipy==1.5.2
sklearn==0.0
threadpoolctl==2.1.0
Werkzeug==0.16.1
wget==3.2
Joblib==0.16.0